<html>
    <body>
        <h2>Weather Report</h2>
        <p>Enter your location below to get the current weather conditions</p>
        <form action="/weather/location" method="GET">
            <label for="name">Location:</label><br>
            <input placeholder="name" type="text" id="name" name="name"><br>
            <input type="submit" value="Submit">
        </form> 
    </body>
</html>